/**
 * Project: Awesome-books
 * File: books.css
 * Created: 2/20/23
 * Author: Abdullah Al Mamun <mamun1214@gmail.com>
 */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "common.css";
@import "nav.css";

main {
  width: 768px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  gap: 10px;
}

footer {
  margin-top: 10px;
  width: inherit;
  min-height: 50px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  padding: 5px;
}

#content {
  width: 100%;
  min-height: 350px;
  margin: 10px 0;
  padding: 10px;
}